.login-form {
  max-width: 350px;
  margin: 100px auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.btn-submit,
.btn-info {
  background-color: var(--blue-dark-color);
  color: var(--light-color);
  margin: 10px auto;
}

.btn-submit:hover,
.btn-info:hover {
  background-color: var(--blue-light-color);
  transition: 1s;
  border-radius: 5px;
}

.login-form input[type='text'],
input[type='password'] {
  width: 100%;
  height: 40px;
  padding: 5px;
}
